a {
    cursor: pointer;
}

li {
    list-style-type: none;
}

input {
    margin:2%;
    width:95%;
}

.Pages {
    font-size: 1.5em;
}

.Page {
    font-size: .9em;
}

.Translation {
    background-color: beige;
    font-size: .8em;
}